<template>
          <div class="row">
            <div class="col">
              <button type="button" class="btn btn-primary btn-lg">En coche</button>
            </div>
            <div class="col">
              <button type="button" class="btn btn-secondary btn-lg">En bicicleta</button>
            </div>
          </div>
</template>
