<template>
        <div class="showMenu">
          <img src="/img/logo.png" />
          <h1>¿Cómo irá Buba al trabajo?</h1>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary" type="button">En coche</button>
            <button class="btn btn-primary" type="button">En bicicleta</button>
          </div>
        </div>
</template>
