<template>
  <div class="body container">
    <div id='background'></div>
    <main>
        <div id="text_box_top"></div>
        <div class="carousel">
            <ul class="carousel__list">
                <li class="carousel__item" data-pos="-3" data-item="1">Dirección</li>
                <li class="carousel__item" data-pos="-2" data-item="2">Dirección de arte y programación</li>
                <li class="carousel__item" data-pos="-1" data-item="3">Producción</li>
                <li class="carousel__item" data-pos="0" data-item="4">Sonido y Diseño gráfico</li>
                <li class="carousel__item" data-pos="1" data-item="5">Dirección de fotografía</li>
                <li class="carousel__item" data-pos="2" data-item="6">Diseño gráfico</li>
                <li class="carousel__item" data-pos="3" data-item="7">Ayudante de dirección</li>
            </ul>
        </div>
        <div id="text_box" />
    </main>
  </div>
</template>
<script>
  export default {
    mounted() {
      if (typeof window !== 'undefined') {
      const state = {};
      const carouselList = document.querySelector('.carousel__list');
      const carouselItems = document.querySelectorAll('.carousel__item');
      const textBox = document.getElementById('text_box')
      const textBoxTop = document.getElementById('text_box_top')
      const elems = Array.from(carouselItems);


      const text_top = [
        ['Pol Fernández'],
        ['Candela Magrané'],
        ['Farners Cisterna'],
        ['Jacobo Morales'],
        ['Kiliam Pina'],
        ['Marta Pey'],
        ['Noelia Suárez']

      ]
      // Init text.
      textBox.innerHTML = elems.find((elem) => elem.dataset.pos == 0).outerText

      console.log({carouselList: carouselList})
      console.log({carouselItems: carouselItems})

      carouselList.addEventListener('click', function (event) {
        var newActive = event.target;
        var isItem = newActive.closest('.carousel__item');

        if (!isItem || newActive.classList.contains('carousel__item_active')) {
          return;
        };
        
        console.log(isItem)
        update(newActive);
      });

      const update = function(newActive) {
        const newActivePos = newActive.dataset.pos;

        const current = elems.find((elem) => elem.dataset.pos == 0);
        textBox.innerHTML = newActive.outerText

        let pos = ( parseInt(newActive.dataset.item) - 1)
        textBoxTop.innerHTML = text_top[pos]

        elems.forEach(item => {
          var itemPos = item.dataset.pos;
          item.dataset.pos = getPos(itemPos, newActivePos)
        });

      };

      const getPos = function (current, active) {
        const diff = current - active;

        if (Math.abs(current - active) > 3) {
          return -current
        }

        return diff;
      }
      }
    }
  }
</script>
