<template>
  <div class="container">
    <div>
      <h1 v-if="session" class="title">{{ session.name  }}</h1>
      <h4 v-if="session">Step {{ status.current_step  }}</h4>
      <div class="links">
        <a
          class="button--green"
          @click="vote(1)"
        >
          Option 1
        </a>
        <a
          class="button--grey"
          @click="vote(2)"
        >
          Option 2
        </a>
      </div>
      <div class="data">
        <div v-if="status.current_step">
          <h2>CurrentStep: {{ status.current_step }}</h2>
          <br/>
          <h3>TotalOption1: {{ status.option_1 }}</h3>
          <h3>TotalOption2: {{ status.option_2 }}</h3>
        </div>
      </div>
        <a
          class="button--grey"
          @click="createSession()"
        >
          Create session
        </a>
    </div>
  </div>
</template>
<script>
import axios from 'axios'
export default {
  data() {
    return {
      session: null,
      status: {
        'current_step': 1,
        'option_1': null,
        'option_2': null,
      },
    }
  },
  methods: {
    async createSession() {
      let res = await axios.post("/api/session");
      if ( res ) {
        console.log(res)
      }
    },
    async getSession() {
      let res = await axios.get("/api/session/1");
      if ( res ) {
        this.session = res.data
        // Determinar current step.
        let last_vote = this.session.Vote[this.session.Vote.length - 1]
        this.status.current_step = last_vote.step 
        // Filtrar Votes por steps, options
        this.status.option_1 = this.session.Vote.filter(data => (data.step == this.status.current_step && data.option == 1)).length;
        this.status.option_2 = this.session.Vote.filter(data => (data.step == this.status.current_step && data.option == 2)).length;
        console.log({status: this.status})
      } else {
        console.error(res)
      }
    },
    async vote(option) {
      console.log('Option. ' + option)

      await axios.post("/api/vote", {
        session_id: this.session.id,
        step: this.status.current_step,
        option: option
        }).then(res => {
          console.log({'res': res})
          // this.step++
          this.getSession()
        }).catch(function (error) {
          if (error.response) {
            // Request made and server responded
            console.log(error.response.data);
            console.log(error.response.status);
            console.log(error.response.headers);
          } else if (error.request) {
            // The request was made but no response was received
            console.log(error.request);
          } else {
            // Something happened in setting up the request that triggered an Error
            console.log('Error', error.message);
          }
        });
    },
  },
  async mounted() {
    this.getSession()
  }
};
</script>

<style>
.container {
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.title {
  font-family: 'Quicksand', 'Source Sans Pro', -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 100px;
  color: #35495e;
  letter-spacing: 1px;
}

.subtitle {
  font-weight: 300;
  font-size: 42px;
  color: #526488;
  word-spacing: 5px;
  padding-bottom: 15px;
}

.links {
  padding-top: 15px;
}
.data {
  margin-top: 100px;
  text-align: center;
}
</style>
